apiVersion: v1
kind: Service
metadata:
  name: taskrelay-user-service
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: taskrelay-user-service
  type: LoadBalancer
status:
  loadBalancer: {}
